*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.tags
/*-[0-9][0-9].xml
/.*.mk
/.gems/
/.idea/
/.refcache
/.venv/
/.vscode/
/lib
/node_modules/
node_modules/
/tmp/
/versioned/
archive.json
dist/
draft-vasters-json-structure-mcp-binding.xml
Gemfile.lock
package-lock.json
report.xml
tracker.log
!requirements.txt
